<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redes.areasyvolumenes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Areas"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>
        <activity android:name=".Volumenes"
            android:parentActivityName=".Principal" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Principal" />
        </activity>
        <activity android:name=".Lista"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>
        <activity android:name=".Cuadrado"
                android:parentActivityName=".Areas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Areas" />
        </activity>
        <activity android:name=".Circulo"
            android:parentActivityName=".Areas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Areas" />
        </activity>
        <activity android:name=".Triangulo"
            android:parentActivityName=".Areas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Areas" />
        </activity>
        <activity android:name=".Rectangulo"
            android:parentActivityName=".Areas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Areas" />
        </activity>
        <activity android:name=".Esfera"
            android:parentActivityName=".Volumenes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Volumenes" />
        </activity>
        <activity android:name=".Cilindro"
            android:parentActivityName=".Volumenes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Volumenes" />
        </activity>
        <activity android:name=".Cono"
            android:parentActivityName=".Volumenes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Volumenes" />
        </activity>
        <activity android:name=".Cubo"
            android:parentActivityName=".Volumenes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Volumenes" />
        </activity>
        <activity android:name=".Resultado1"
            android:parentActivityName=".Cuadrado" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Cuadrado" />
        </activity>
        <activity android:name=".Resultado2"
            android:parentActivityName=".Rectangulo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Rectangulo" />
        </activity>
        <activity android:name=".Resultado3"
            android:parentActivityName=".Triangulo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Triangulo" />
        </activity>
        <activity android:name=".Resultado4"
            android:parentActivityName=".Circulo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Circulo" />
        </activity>
    </application>

</manifest>